{{!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if showTitle}}
    <h1>Home</h1>
    <h1></h1>
  {{/if}}

    <!-- Calls `foo` helper, overridden at render-level. -->
    <p>{{foo}}</p>

    <!-- Calls `bar` helper, defined at instance-level. -->
    <p>{{bar}}</p>

</body>
</html> --}}

<h1>{{title}}</h1>

<table class="table">
  <thead>
    <tr>

      <th scope="col">#</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Action</th>
      <h1>{{SubjectName}}</h1>

    
    
    </tr>
  </thead>

  <tbody>
    {{!-- {{# each contents }}
        <div class="thumbnail">
            <div class="caption">
                <h3>{{ this.SubjectName }}</h3>
                <br>
                <small> {{ this.name}} </small>
                <br>
                <p class="description">{{ this.name }}</p>
            </div>
        </div>
{{/each}} --}}
    {{#each emplist}}

    <tr>
    <th scope="row">1</th>

      <td>{{emplist.ques}}</td>
    
      <td href="#" type ="button" class="btn btn-light btn-small"><i class="bi bi-eye"></i>View</td>
      <td href="#" type ="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</td>
      <td>
          <a href="/delSubject/delete/" type ="button" class="btn btn-light btn-small" onclick="return confirm('Are you sure to delete this record ?');" ><i class="bi bi-person-x"></i>Delete</a> 


      </td>
    </tr>
    {{/each}}

    
    
  </tbody>
</table>


